{% load static %}
<div class=" mx-5">
    <div class="row row-cols-1 row-cols-md-2 g-4 p-5">
        <div class="col p-5 mt-0">
            <p class="h3 ">Meet Our Team</p>
            <span>We envision specialized and customized trainings for every business arena to get mastery in decision
                making.</span>

            <p><small>This line of text is meant to be treated as fine print.</small></p>

            <p><img src="{% static 'thumbnails/Rectangle.png'%}" class="img-fluid  rounded-circle thubmnails-small  m-2"
                    alt="..."><small>This line of text is meant to be treated as fine print.</small></p>

        </div>
        <div class="col p-5 mt-0">
            <img src="{% static 'thumbnails/Rectangle.png'%}" class="img-fluid  m-2 mx-auto d-block" alt="...">
        </div>

    </div>

</div>