<div class="primery-bg-color">
	<div class="mx-5">
		<footer class="row row-cols-5 p-5 border-top">
			<div class="col">
				<a href="/" class="d-flex align-items-center mb-3 text-decoration-none primery-text-inverted">
					DATALYTICS
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap" />
					</svg>
				</a>
				<p class="text-muted">&copy; 2010 - 2022</p>
				<p class="text-muted">Privacy -Terms</p>
			</div>

			<div class="col">

			</div>

			<div class="col">
				<h5>Pages</h5>
				<ul class="nav flex-column ">
					<li class="nav-item mb-2"><a href="/"
							class="nav-link p-0 text-decoration-none primery-text-inverted">Home</a>
					</li>
					<li class="nav-item mb-2"><a href="/services"
							class="nav-link p-0 text-decoration-none primery-text-inverted">Services</a>
					</li>
					<li class="nav-item mb-2"><a href="#"
							class="nav-link p-0 text-decoration-none primery-text-inverted">Pricing</a>
					</li>
					<li class="nav-item mb-2"><a href="#"
							class="nav-link p-0 text-decoration-none primery-text-inverted">FAQs</a>
					</li>
					<li class="nav-item mb-2"><a href="/about-us"
							class="nav-link p-0 text-decoration-none primery-text-inverted">About
							us</a></li>
				</ul>
			</div>

			<div class="col primery-text-inverted">
				<h5>Section</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="/"
							class="nav-link p-0 text-decoration-none primery-text-inverted ">Home</a>
					</li>
					<li class="nav-item mb-2"><a href="/services"
							class="nav-link p-0 text-decoration-none primery-text-inverted ">Services</a>
					</li>
					<li class="nav-item mb-2"><a href="#"
							class="nav-link p-0 text-decoration-none primery-text-inverted ">Pricing</a>
					</li>
					<li class="nav-item mb-2"><a href="#"
							class="nav-link p-0 text-decoration-none primery-text-inverted ">FAQs</a>
					</li>
					<li class="nav-item mb-2"><a href="/about-us"
							class="nav-link p-0 text-decoration-none primery-text-inverted ">About
							us</a></li>
				</ul>
			</div>

			<div class="col">
				<h5>Section</h5>
				<ul class="nav flex-column ">
					<li class="nav-item mb-2"><a href="/"
							class="nav-link p-0 text-decoration-none primery-text-inverted">Home</a>
					</li>
					<li class="nav-item mb-2"><a href="/services"
							class="nav-link p-0 text-decoration-none primery-text-inverted">Services</a>
					</li>
					<li class="nav-item mb-2"><a href="#"
							class="nav-link p-0 text-decoration-none primery-text-inverted">Pricing</a>
					</li>
					<li class="nav-item mb-2"><a href="#"
							class="nav-link p-0 text-decoration-none primery-text-inverted">FAQs</a>
					</li>
					<li class="nav-item mb-2"><a href="/about-us"
							class="nav-link p-0 text-decoration-none primery-text-inverted">About
							us</a></li>
				</ul>
			</div>
		</footer>
	</div>

</div>