{% load static %}
<div class="div-warper d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center justify-content-between pad-10 gap-20">
        <p class="h3 ">Our Best Clients</p>
        <span>We envision specialized and customized trainings for every business arena to get mastery in decision
            making.</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between gap-20">
        {% for d in data.clients|slice:":6" %}
        <img alt="{{d.name}}" src={{d.client_image.image}} class="img-fluid  rounded-circle thubmnails-medium m-2" />
        {% endfor %}
    </div>

</div>