{% load static %}
<div class="tertiary-bg-color ">
    <div class="mx-5">
        <div class="text-center p-5">
            <p class="h3 ">Past Events</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam,</span>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
            {% for d in data.events|slice:":3" %}
            <div class="col ">
                <div class="card-secondary h-100">
                    <img src={{d.event_images.0.image}} class="card-img-top" alt="{{d.name}}">
                    <div class="card-body-secondary">
                        <h5 class="card-title">{{d.name}}</h5>
                        <p class="card-text">{{d.discription}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col ">
                <div class="card-secondary h-100">
                    <img src="{% static 'thumbnails/past_events.png'%}" class="card-img-top" alt="...">
                    <div class="card-body-secondary">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card-secondary h-100">
                    <img src="{% static 'thumbnails/past_events.png'%}" class="card-img-top" alt="...">
                    <div class="card-body-secondary">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to
                            additional
                            content.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>