{% extends "base.html" %}

{% block title %}
Home Page
{% endblock%}


{% block main-content %}

{% include 'services/_partiales/hero_section.html' %}
{% include 'services/_partiales/post_right.html' %}
{% include 'services/_partiales/post_left.html' %}
{% include 'services/_partiales/popular_courses.html' %}
{% include 'services/_partiales/best_clients.html' %}
{% include 'services/_partiales/our_team.html' %}
{% include 'services/_partiales/past_events.html' %}
{% include 'services/_partiales/reviews.html' %}
{% include 'services/_partiales/cta.html' %}
{% endblock %}